html,body {
  font-family:Tahoma;
}

.debug {
    border:1px dashed red;
}

div.content {
  width:100%;
  height:100%;
  position: relative;
}

div.max-container {
  max-width:1000px;
  margin:0 auto;
}

div.forecast-header {
    background-color:#08F;
    padding:8px;
    width:100%;
    height:240px;
    color:#FFF;
    position:relative;
}

div.header-cell {
  display:inline-block;;
  width:49%;
  height:220px;
  vertical-align:bottom;
}

div.day-header {
  font-size:12pt;
  text-align:center;
}

div.high {
  font-size:64pt;
  text-align:center;
}

div.low {
  font-size:32pt;
  text-align:center;
}

div.condition {
  font-size:14pt;
  text-align:center;
}

div.forecast-item {
  color:#444;
}

div.day-list {
  overflow-y:visible;
  padding:8px;
}

div.item-bold {
  font-weight:bold;
  font-size:12pt;
}

div.item-norm {
  font-size:10pt;
}

.item-link
{
  border:1px solid rgba(0, 64, 128, 0.0);
  border-radius:4px;
  text-decoration:none;
  padding:2px;
  cursor:default;
}

.item-link:hover {
  background-color:rgba(0, 128, 255, 0.25);
  border-color:rgba(0, 64, 128, 0.25);
  border-width:1px;
  padding:2px;
  cursor:default;
}

/* ============================
    Paper gradient and other effects
*/
.paper {
  background-image:linear-gradient(180deg, #EEE 0%, #FFF 100%);
}

.shadow {
    text-shadow:1px 1px 8px rgba(0,0,0,0.8);
}

/* ============================
    Mobile-esque chrome
*/
div.chrome {
  height:32px;
  background-color:#08F;
  color:#FFF;
  font-weight:bold;
}

div.chrome img {
  margin-left:4px;
}

div.chrome a:link, div.chrome a:visited {
  font-weight:normal;
  font-size:10pt;
  float:right;
  height:28px;
  line-height:28px;
  margin:2px;
  color:#FFF;
  display:block;
  text-decoration:none;
  border:1px solid #08F;
  border-radius:4px;
  padding-left:4px;
  padding-right:4px;
}

div.chrome a:hover {
  background-color:#048;
  border:1px solid #024;
}

/* ============================
    Forecast Detail
*/
div.forecast-detail {
  padding:16px;
}

div.detail-high {
  font-size:72px;
}

div.detail-low {
  font-size:36px;
}

/* ============================
    Fade Animation
*/
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-leave {
    opacity: 1;
}

.fader-animation.ng-enter {
    -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 1.2s;
    -moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 1.2s;
    -o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 1.2s;
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 1.2s;
    opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

.fader-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.fader-animation.ng-move {
    opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
    opacity:1;
}

//Slides
.slide-left.ng-enter, .slide-left.ng-leave,
.slide-right.ng-enter,.slide-right.ng-leave,
.slide-top.ng-enter,.slide-top.ng-leave,
.slide-bottom.ng-enter,.slide-bottom.ng-leave,
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .transition(.3s ease-in-out);
}

//
//  SLIDE LEFT
//
.slide-left
{
  &.ng-enter.ng-enter-active
  {
    .transform(translateX(0));
  }

  &.ng-leave
  {
    z-index: 100;
    .transform(translateX(0));
  }
  &.ng-leave-active
  {
    .transform(translateX(-100%));
  }
}

//
//  SLIDE RIGHT
//
.slide-right
{
  &.ng-enter
  {
    .transform(translateX(-100%));
  }

  &.ng-enter-active,
  {
    position: absolute;
    .transform(translateX(0));
  }

  &.ng-leave-active
  {
    .transform(translateX(100%));
  }
}


//
//  SLIDE TOP
//
.slide-top
{
  &.ng-enter
  {
    .transform(translateY(-100%));
  }

  &.ng-enter-active,
  {
    position: absolute;
    .transform(translateY(0));
  }

  &.ng-leave-active
  {
    .transform(translateY(100%));
  }
}


//
//  SLIDE BOTTOM
//
.slide-bottom
{
  &.ng-enter-active
  {
    .transform(translateY(0));
  }

  &.ng-leave
  {
    z-index: 100;
    .transform(translateY(0));
  }

  &.ng-leave-active
  {
    .transform(translateY(-100%));
  }
}
