<div ng-controller="forecastDetail" class="max-container">
  <!--Mobile-esque chrome, for reference only-->
  <div class="chrome">
    <img src="/images/art_clear.png" alt="Sunshine" width="28px"/>
    <span>Details</span>
    <a style="float:right;" data-ui-sref="forecast">&lt;&lt;&nbsp;Back to Forecast</a>
  </div>

  <div class="forecast-detail paper">
    <div class="item-bold">{{ item.dayName }}</div>
    <div class="item-norm">{{ item.dayHeader }}</div>
    <div class="row">
      <div class="header-cell">
        <div class="detail-high text-center">{{ item.high }}&deg;</div>
        <div class="detail-low text-center">{{ item.low }}&deg;</div>
      </div>
      <div class="header-cell">
        <div class="text-center"><img ng-src="{{ item.bigIcon }}" alt="{{ item.state }}"/></div>
        <div class="detail-state text-center">{{ item.state }}</div>
      </div>
    </div>
    <div>Humidity: {{ item.humidity }}&nbsp;%</div>
    <div>Pressure: {{ item.pressure }}&nbsp;hPa</div>
    <div>Wind: {{ item.wind }}</div>
    <div>Clouds: {{ item.clouds }}%</div>
  </div>

</div>
