<div ng-controller="forecast" class="max-container">
  <!--Mobile-esque chrome, for reference only-->
  <div class="chrome">
    <img src="/images/art_clear.png" alt="Sunshine" width="28px"/>
    <span>Sunshine</span>
  </div>

  <!--Forecast Header-->
  <div class="forecast-header">
      <div class="header-cell">
          <div class="day-header">Today, {{ today.dayHeader }}</div>
          <div class="high shadow">{{ today.high }}&deg;</div>
          <div class="low shadow">{{ today.low }}&deg;</div>
      </div>
      <div class="header-cell">
        <!--Big Icon and Condition text-->
        <div class="text-center"><img ng-src="{{today.bigIcon}}" alt="{{today.state}}"/></div>
        <div class="condition">{{ today.state }}</div>
      </div>
  </div>

  <!--Day Listing-->
  <div class="day-list paper">
      <div forecast-item ng-repeat="item in items" item="item" on-item-clicked="onItemClicked(item)">
      </div>
  </div>
</div>
