<div class="item-link" ng-mouseup="showDetail(item)">
  <div class="forecast-item row">
    <div class="col-xs-1 text-center">
        <!--Small Grey Item Icon-->
        <img ng-src="{{item.smallIcon}}" alt="{{item.state}}"></img>
    </div>
    <div class="col-xs-9">
      <div class="item-bold">{{item.dayName}}</div>
      <div class="item-norm">{{item.state}}</div>
    </div>
    <div class="col-xs-1">
      <div class="item-bold text-center">{{item.high}}&deg;</div>
      <div class="item-norm text-center">{{item.low}}&deg;</div>
    </div>
  </div>
</div>
